<!DOCTYPE html>
<html>
  <head>
    <title>TestBlog</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%=link_to "Home page", root_path %>
    <%=link_to "About us", pages_about_path %>
    <%=link_to "Content", pages_about_path %>
    <%=link_to "Contacts", pages_about_path %>
    <%=

    yield %>
  </body>
</html>
